@model IEnumerable<Client>
@* $1$ Views/Shared/_RightSection.cshtml #1# *@
@* <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" > *@
@* *@
@* <section class="right"> *@
@*     <!-- investments --> *@
@*     <div class="table-container"> *@
@*         <div class="header"> *@
@*             <h2>Client Details</h2> *@
@*         </div> *@
@*         <div class="table-wrapper"> *@
@*             <table id='tbllist'> *@
@*                 <thead> *@
@*                     <tr> *@
@*                         <th>Client</th> *@
@*                         <th>Status</th> *@
@*                         <th>LastConnected</th> *@
@*                         <th><input type="checkbox" id="select-all"></th> *@
@*                     </tr> *@
@*                 </thead> *@
@*                 <tbody> *@
@*                     <tr> *@
@*                         <td>Client 1</td> *@
@*                         <td><i class="fas fa-circle status-icon online"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Client 2</td> *@
@*                         <td><i class="fas fa-circle status-icon online"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Client 3</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>McDonalds</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Uniliver</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                     <tr> *@
@*                         <td>Monster</td> *@
@*                         <td><i class="fas fa-circle status-icon offline"></i></td> *@
@*                         <td>9:14pm</td> *@
@*                         <td><input type="checkbox" class="select-client"></td> *@
@*                     </tr> *@
@*                 </tbody> *@
@*             </table> *@
@*         </div> *@
@*     </div> *@
@*     <!-- recent transaction --> *@
@*     <div class="recent-transactions"> *@
@*         <div class="header"> *@
@*             <h2>Options</h2> *@
@*         </div> *@
@*         <div class="options"> *@
@*             <a asp-controller="LogRequest" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">description</span>Log *@
@*             </a> *@
@*             <a asp-controller="Tpm" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">security</span> *@
@*                 TPM *@
@*             </a> *@
@*             <a asp-controller="Firmware" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">security</span> *@
@*                 Firmware *@
@*             </a> *@
@*             <a asp-controller="DevicePerformance" asp-action="Index" class="option-button"> *@
@*                 <span class="material-icons-sharp">monitor_heart</span> *@
@*                 Device Performance *@
@*             </a> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
@* *@
@* <script> *@
@*     $(document).ready(function () { *@
@*         // Select all checkboxes functionality *@
@*         $('#select-all').click(function () { *@
@*             $('.select-client').prop('checked', this.checked); *@
@*         }); *@
@*   *@
@*         // Change row style based on status *@
@*         $('tr').each(function () { *@
@*             if ($(this).find('.status-icon').hasClass('online')) { *@
@*                 $(this).css('background-color', '#e0ffe0'); // Light green for online *@
@*             } else if ($(this).find('.status-icon').hasClass('offline')) { *@
@*                 $(this).css('background-color', '#ffe0e0'); // Light red for offline *@
@*             } *@
@*         }); *@
@*     }); *@
@* </script> *@
<div id="layoutSidenav_right">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordionRight">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Right Side</div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Client Id</th>
                                <th>Device Name</th>
                                <th>Created</th>
                                <th>Subscribed Topics</th>
                                <th>Last Accessed</th>
                                <th>Status</th>
                                <th>Keep Alive</th>
                                <th>IP Address</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Client Id</th>
                                <th>Device Name</th>
                                <th>Created</th>
                                <th>Subscribed Topics</th>
                                <th>Last Accessed</th>
                                <th>Status</th>
                                <th>Keep Alive</th>
                                <th>IP Address</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            @foreach (var client in Model)
                            {
                            <tr>
                                <td>@client.ClientId</td>
                                <td>@client.DeviceName</td>
                                <td>@client.Created.ToString("yyyy/MM/dd HH:mm")</td>
                                <td>
                                    @foreach (var topic in client.SubscribedTopics)
                                    {
                                    <span>@topic</span><br />
                                    }
                                </td>
                                <td>@client.LastAccessed.ToString("yyyy/MM/dd HH:mm")</td>
                                <td>@client.Status ? "Active" : "Inactive"</td>
                                <td>@client.KeepAlive</td>
                                <td>@client.IpAddress</td>
                            </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

